<div class="container">
<div class="row">
<div class="col-xs-12">

  <div class="row">
    <div class="col-md-12">
      <h2>ライブラリからプロジェクトを検索</h2>
      <p>
        指定したライブラリを利用しているプロジェクトを探します。<br>
        まずはライブラリを選択してください。
      </p>
    </div>

  </div>

  <div class="row">
    <form class="form-horizontal mt-10">
      <div class="form-group">
        <div class="col-md-8 col-md-offset-1">
          <input class="form-control" id="projectSearchKeyword" ng-model="searchKeyword" placeholder="Project or Library name">
        </div>
        <div class="col-md-3">
          <button type="submit" ng-click="search()" class="btn btn-default">Search</button>
        </div>
      </div>
    </form>
  </div>

  <hr>

  <div class="row">
    <!-- TODO: custom directiveによる共通化 -->

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <p class="search-result-count" ng-show="totalCount">
          {{ totalCount }} 件のライブラリが見つかりました。
        </p>
      </div>
    </div>

    <!-- TODO: 見た目調整 -->
    <div class="row" ng-show="totalCount">
      <div class="col-md-7 col-md-offset-1">
        <uib-pagination total-items="totalCount" max-size="6" ng-model="currentPage" ng-change="search()">
        </uib-pagination>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option value="1">stargazers_count:desc</option>
        </select>
      </div>
    </div>


    <div class="project-item" ng-repeat="project in results.items">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h3>
            <a ui-sref="project_search_using({ id: project.id })">
              {{ project.full_name }}
            </a>
          </h3>

          <p>
            {{ project.github_description }}
          </p>
          <p>
            公開日: {{ project.github_created_at }} / 最終更新日: {{ project.github_updated_at }}
          </p>
          <div class="mt-10">
            <a class="btn btn-default" href="">
              利用プロジェクト
            </a>
            <a class="btn btn-default" href="">
              ライブラリ詳細
            </a>
          </div>
        </div>
        <div class="col-md-5 additional-info">
          <p>
            Star : {{ project.stargazers_count }} / Watcher: {{ project.watchers_count }}
          </p>
          <p>
            Owner: {{ project.owner_login_name }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center" ng-show="totalCount">
      <uib-pagination total-items="totalCount" max-size="6" ng-model="currentPage" ng-change="search()">
      </uib-pagination>
    </div>

  </div>

</div><!-- /col-xs-12 -->
</div><!-- /row -->
</div><!-- /container -->
