<div class="container">
<div class="row">
<div class="col-xs-12">

  <div class="row">
    <div class="col-md-12">
      <h2>プロジェクト検索 Step1: ライブラリ選択</h2>
      <p>
        指定したライブラリを利用しているプロジェクトを探します。<br>
        まずは探したいライブラリを選択してください。
      </p>
    </div>

  </div>

  <div class="row">
    <form class="form-horizontal mt-10">
      <div class="form-group">
        <div class="col-md-8 col-md-offset-1">
          <input class="form-control" id="projectSearchKeyword" ng-model="searchKeyword" placeholder="Project or Library name">
        </div>
        <div class="col-md-3">
          <button type="submit" ng-click="search()" class="btn btn-default">Search</button>
        </div>
      </div>
    </form>
  </div>

  <hr>

  <div class="row">
    <!-- TODO: custom directiveによる共通化 -->

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="search-result-count" ng-show="results.total_count">
          {{ results.total_count }} 件のライブラリが見つかりました。
        </p>
      </div>
    </div>

    <div class="project-item" ng-repeat="project in results.items">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h3>
            <a href="todo-{{ project.name }}">
              {{ project.full_name }}
            </a>
          </h3>

          <p>
            {{ project.github_description }}
          </p>
          <p>
            公開日: {{ project.github_created_at }} / 最終更新日: {{ project.github_updated_at }}
          </p>
          <div class="mt-10">
            <a class="btn btn-default" href="">
              利用プロジェクト
            </a>
            <a class="btn btn-default" href="">
              ライブラリ詳細
            </a>
          </div>
        </div>
        <div class="col-md-5 additional-info">
          <p>
            Star : {{ project.stargazers_count }} / Watcher: {{ project.watchers_count }}
          </p>
          <p>
            Owner: {{ project.owner_login_name }}
          </p>
        </div>
      </div>
    </div>
  </div>

</div><!-- /col-xs-12 -->
</div><!-- /row -->
</div><!-- /container -->
