<!-- main image -->
<div class="top-main-title-image">
<div class="container">
<div class="row">

    <!-- 高さ調整用 -->
    <div class="col-md-12 top-margin1"></div>


    <div class="row">

        <div class="col-md-8">
            <row>
                <div class="top-main-text1">
                    OSSライブラリ活用の時代に
                </div>
                <div class="top-main-text2">
                    より良い検索サービスを
                </div>
            </row>
        </div>

        <div class="col-md-4">
            <img src="assets/images/LibraryMiner.png" alt="LibraryMiner" width="256px" height="256px">
        </div>

        <div class="col-md-12">
            <div class="top-main-text3">
                プロジェクト/ライブラリ検索サービス
            </div>
            <div class="top-main-text4">
                Library Miner
            </div>
        </div>

    </div>

</div>
</div>
</div>
<!-- main image end -->

<div class="top-sub-1">
<div class="container">
<div class="row">
<div class="col-xs-12">
  <div class="row">
    <div class="col-md-12 top-margin1"></div>
    <div class="col-md-12 text-center">
      <p class="top-sub-2">
        Library Minerは<b>指定したライブラリを利用している</b>オープンソースプロジェクトを検索できるサービスです。<br>
      </p>

      <br />
      <p class="top-sub-3">
        昨今では多種多様なオープンソースライブラリが開発され利用されています。<br/>
        OSSライブラリをうまく活用することで良質なアプリケーションを高速に作成することが可能となります。<br/>
        OSSライブラリをうまく活用するためには利用するOSSライブラリの利用方法・特徴を理解することが必要不可欠となりますが、<br />
        その際の1つの手段としてOSSライブラリを利用したオープンソースを読むことが挙げられます。<br/>
        <br/>
        Library MinerではOSSライブラリを利用しているオープンソースプロジェクトを検索でき、<br/>
        OSSライブラリの利用方法・特徴を理解するための手助けをすることを目的としたエンジニア向けの検索サービスです。
    </br/>
      </p>
    </div>
  </div>

  <hr>
</div>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12">
  <div class="row">
    <h2 class="text-center">
      目的別検索
    </h2>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="project_search_top">
        <img src="assets/images/map_256.jpeg" alt="Search External Projects" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="project_search_top">ライブラリから検索</a>
        </div>
        <div class="">
          指定したライブラリを利用している</br>
          プロジェクト・ライブラリを探す
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="project_search_name">
        <img src="assets/images/dia_256.jpeg" alt="Search External Libraries" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="project_search_name">名前から検索</a>
        </div>
        <div class="">
          名前からプロジェクト・ライブラリを探す
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="popular_project">
        <img src="assets/images/star_256.jpeg" alt="Popular Projects" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="popular_project">人気プロジェクト</a>
        </div>
        <div class="">
          人気のプロジェクト・ライブラリを探す
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row mt-20" ng-controller="AvailableProjectController">
    <h2 class="text-center">
      検索可能なプロジェクト・ライブラリ
    </h2>

    <div class="col-md-12 text-center mt-20">
      <img src="assets/images/ruby-logo-R.png" alt="Ruby" width="100px" class="mt-10"><br>
      <div class="mt-10">
        <div class="">
          {{rubyProjectCount}}件のプロジェクト / {{rubyLibraryCount}} 件のライブラリ から検索可能
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="row mt-20 text-center">
    <h2>新着プロジェクト</h2>
  </div>

  <div class="project-item" ng-repeat="project in recentCreatedProjects" ng-include="'templates/partials/project.html'">
  </div>

  <div class="row mt-20 text-center">
    <h2>新着ライブラリ</h2>
  </div>

  <div class="project-item" ng-repeat="project in recentCreatedLibraries" ng-include="'templates/partials/project.html'">
  </div>

  <div class="row mt-20 text-center">
    <h2>更新プロジェクト</h2>
  </div>

  <div class="project-item" ng-repeat="project in recentUpdatedProjects" ng-include="'templates/partials/project.html'">
  </div>

  <div class="row mt-20 text-center">
    <h2>更新ライブラリ</h2>
  </div>

  <div class="project-item" ng-repeat="project in recentUpdatedLibraries" ng-include="'templates/partials/project.html'">
  </div>

</div><!-- /col-xs-12 -->
</div><!-- /row -->
</div><!-- /container -->
