<div class="container">
<div class="row">
<div class="col-xs-12">

  <div class="row">
    <div class="col-md-12 text-center">
      <img src="assets/images/LibraryMiner.png" alt="LibraryMiner" width="100px" height="100px">
    </div>

    <div class="col-md-12 text-center">
      <h2>Library Minerとは?</h2>

      <p>
        <b>指定したライブラリを利用している</b>オープンソースプロジェクトを検索できるサービスです。<br>
        Github上のRubyプロジェクト/ライブラリを対象に検索することができます。
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <h2 class="text-center">
      目的別検索
    </h2>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="top">
        <img src="assets/images/map_256.jpeg" alt="Search External Projects" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="top">プロジェクト検索</a>
        </div>
        <div class="">
          指定したライブラリを利用しているプロジェクトを探す
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="top">
        <img src="assets/images/dia_256.jpeg" alt="Search External Libraries" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="top">ライブラリ検索</a>
        </div>
        <div class="">
          外部ライブラリを利用した別外部ライブラリを探す
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center mt-20">
      <a ui-sref="top">
        <img src="assets/images/star_256.jpeg" alt="Popular Projects" width="100px" height="100px"><br>
      </a>
      <div class="mt-10">
        <div class="mt-5">
          <a ui-sref="top">人気プロジェクト</a>
        </div>
        <div class="">
          人気のプロジェクト・ライブラリを探す
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row mt-20">
    <h2 class="text-center">
      検索可能なプロジェクト・ライブラリ
    </h2>

    <div class="col-md-12 text-center mt-20">
      <img src="assets/images/ruby-logo-R.png" alt="Ruby" width="100px" class="mt-10"><br>
      <div class="mt-10">
        <div class="">
          10000件のプロジェクト / 10000 件のライブラリ から検索可能
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="row mt-20">
    <h2>新着プロジェクト</h2>
  </div>

</div><!-- /col-xs-12 -->
</div><!-- /row -->
</div><!-- /container -->
